/* Styling for star rating */
.star-rating {
    position: relative;
    margin-left: 15px;
    font-weight: 400;
    font-size: 16px;
    font-family: manrope-m;
    font-style: normal;
    color: #f0c14b; /* Amazon's star color */
    line-height: 24px;
}

/* Styling for empty star */
.star {
    color: #979797;
}

/* Styling for filled star */
.filled {
    color: #f0c14b; /* Amazon's star color */
}
