/* Styling for user review container */
#userReviewContainer {
  margin-bottom: 20px;
}

/* Styling for user review content */
.userReviewContent {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
}

.pfpName {
  /* display: flex;
  flex-direction: row; */
  margin-bottom: 10px;

}

/* Styling for user review profile picture */
.userReviewProfile {
  width: 35px;
  height: 35px;

}

/* Styling for user review name */
.userReviewName {
  font-weight: bold;
  font-size: 20px;
  /* margin-bottom: 10px; */
}

/* Styling for user review title */
.userReviewTitle {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

/* Styling for user review title text */
.userReviewTitleText {
  margin-left: 10px;
}

/* Styling for user review description */
.userReviewDescription {
  margin-bottom: 10px;
}

/* Styling for user review edit and delete buttons */
.userReviewEditBtn,
.userReviewDeleteBtn {
  background-color: #f0c14b;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  cursor: pointer;
  padding: 7px 0;
  text-align: center;
  width: 80px;
  margin-right: 10px;
  border-radius: 5px;
}

/* Styling for user review edit and delete buttons on hover */
.userReviewEditBtn:hover,
.userReviewDeleteBtn:hover {
  background-color: #f9ebaf;
}
