/* TODO: Add sitewide styles */

@import url('https://fonts.cdnfonts.com/css/amazon-ember');

/* Additional styles if needed */
body {
  font-family: 'Amazon Ember', Arial,  sans-serif;
}  

/* @font-face {
  font-family: "Amazon Ember";
  src: url('./fonts/Amazon-Ember-Medium.ttf')
} */

/* #root {
  font-family: Amazon Ember;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  position: relative;
} */