/* .fillerDiv {
    height: 50px;
    width: 100%;
    background-color: gray;
    opacity: 10%;
    margin-bottom: 80px;
    border: solid 3px red;
} */

.productCardItem {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.productImageContainer {
    display: flex;
    justify-content: center;
    width: 550px;
    height: auto;
    max-height: 500px;
    margin-right: 40px;
}

.productImageShow {
    max-height: 100%;
    max-width: 100%;
}

.productDetailsContainer {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    width: 35%;
    /* border: solid 3px red; */
}

.productNameShow {
    font-size: 24px;
    text-align: start;
    letter-spacing: normal;
    line-height: 32px;
    color: #0f1111;
    margin-bottom: 20px;
}

.productRatingShow {
    color: gold;
    margin-bottom: 20px;
}

.lineSeparator {
    height: 1px;
    width: 100%;
    background-color: lightgray;
    margin: 10px 0;
}

.productPriceShow {
    font-size: 28px;
    text-align: start;
    letter-spacing: normal;
    line-height: normal;
    color: #0f1111;
    margin-bottom: 30px;
}

.productTypeContainer{
    display: flex;
}

.type {
    font-weight: bold;
    width: 100px;
    padding-right: 20px;
    margin-right: 40px;
}

.productCategory,
.productBrand,
.productDimensions,
.productWeight {
    display: flex;
    font-size: 14px;
    text-align: start;
    letter-spacing: normal;
    line-height: 20px;
    color: #0f1111;
    margin: 0;
    margin-bottom: 15px;
}

.productDescriptionContainer {
    list-style-type: disc;
    margin-left: 15px;
}

.about {
    font-size: 16px;
    text-align: start;
    letter-spacing: normal;
    line-height: 24px;
    color: #0f1111;
}

.productDescription {
    font-size: 14px;
    text-align: left;
    letter-spacing: normal;
    line-height: 20px;
    color: #0f1111;
    margin-top: 10px;
}

.cartContainer {
    display: flex;
    flex-direction: column;
    border: 1px solid #d5d9d9;
    width: 240px;
    height: 400px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 18px;
    padding-right: 18px;
    border-radius: 10px;
    margin-top: 100px;
    /* border: solid 3px red; */
}

.freeR {
    font-size: 14px;
    color: #007185;
    margin-right: 10px;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: -10px;
}

.Availabilty {
    color: #007600;
    font-size: 18px;
    line-height: 24px;
    text-align: start;
    letter-spacing: normal;
    margin-bottom: 40px;
}

.quantityContainer {
    margin-bottom: 40px;
    
}

.quantity {
    font-size: 13px;
    margin-right: 5px;
    
}

.productQuantity {
    background-color: #f0f2f2;
    width: 50px;
    border-radius: 5px;
    outline-color: #08c6de;
}

.cartButton {
    background-color: #ffd814;
    border-color: #a88734 #9c7e31 #846a29;
    width: 210px;
    height: 35px;
    border: 1px rgb(132, 106, 41);
    cursor: pointer;
    border-radius: 200px;
    margin-bottom: 10px;
}

.cartButton:hover {
    background-color: #f7ca00;
}

.buyButton {
    background-color: #ffa41c;
    border-color: #a88734 #9c7e31 #846a29;
    width: 210px;
    height: 35px;
    border: 1px rgb(132, 106, 41);
    cursor: pointer;
    border-radius: 200px;
    cursor: pointer;
    margin-bottom: 30px;
}

.buyButton:hover {
    background-color: #fa8900;
}
