.fillerDiv {
    display: flex;
    flex-direction: row;
    border: solid 3px red;
}

.productCardItem {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.productImageContainer {
    display: flex;
    justify-content: center;
    width: 550px;
    height: auto;
    max-height: 500px;
    margin-right: 40px;
    /* border: solid 3px red; */
}

.productImageShow {
    max-height: 100%;
    max-width: 70%;
    
    padding: 80px;
    object-fit:contain;
}

.productDetailsContainer {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    width: 35%;
    /* border: solid 3px red; */
}

.productNameShow {
    font-size: 24px;
    text-align: start;
    letter-spacing: normal;
    line-height: 32px;
    color: #0f1111;
    margin-bottom: 20px;
}

.productRatingShow {
    font-size: 25px;
    color: gold;
    margin-bottom: 20px;
}

.lineSeparator {
    height: 1px;
    width: 100%;
    background-color: lightgray;
    margin: 10px 0;
}

.productPriceShow {
    font-size: 28px;
    text-align: start;
    letter-spacing: normal;
    line-height: normal;
    color: #0f1111;
    margin-bottom: 30px;
}

.productTypeContainer{
    display: flex;
}

.type {
    font-weight: bold;
    width: 100px;
    padding-right: 20px;
    margin-right: 40px;
}

.productCategory,
.productBrand,
.productDimensions,
.productWeight {
    display: flex;
    font-size: 14px;
    text-align: start;
    letter-spacing: normal;
    line-height: 20px;
    color: #0f1111;
    margin: 0;
    margin-bottom: 15px;
}

.productDescriptionContainer {
    list-style-type: disc;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.about {
    font-size: 16px;
    text-align: start;
    letter-spacing: normal;
    line-height: 24px;
    color: #0f1111;
}

.productDescription {
    font-size: 14px;
    text-align: start;
    letter-spacing: normal;
    line-height: 20px;
    color: #0f1111;
    margin-top: 10px;
}

.cartContainer {
    display: flex;
    flex-direction: column;
    border: 1px solid #d5d9d9;
    width: 240px;
    height: 560px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 18px;
    padding-right: 18px;
    border-radius: 10px;
    margin-top: 100px;
}

.freeR {
    font-size: 14px;
    color: #007185;
    margin-right: 10px;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: -10px;
}

.Availabilty {
    color: #007600;
    font-size: 18px;
    line-height: 24px;
    text-align: start;
    letter-spacing: normal;
    margin-bottom: 40px;
}

.quantityContainer {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    
}

.quantity {
    margin-bottom: 10px;
}

.productQuantity {
    background-color: #f0f2f2;
    border-radius: 8px;
    border: solid 1px rgba(15, 17, 17, 0.15);
    font-size: 14px;
    width: 210px;
    height: 35px;
    display: block;
    outline-color: #08c6de;
    cursor: pointer;
    box-shadow: rgba(15, 17, 17, 0.15);

    &:hover {
        background-color: #e3e6e6;
    }

}

.cartButton {
    background-color: #ffd814;
    border-color: #a88734 #9c7e31 #846a29;
    width: 210px;
    height: 35px;
    border: 1px rgb(132, 106, 41);
    cursor: pointer;
    border-radius: 200px;
    margin-bottom: 10px;
}

.cartButton:hover {
    background-color: #f7ca00;
}

.buyButton {
    background-color: #ffa41c;
    border-color: #a88734 #9c7e31 #846a29;
    width: 210px;
    height: 35px;
    border: 1px rgb(132, 106, 41);
    cursor: pointer;
    border-radius: 200px;
    cursor: pointer;
    margin-bottom: 30px;
}

.buyButton:hover {
    background-color: #fa8900;
}


.cartFooterContainer{
    display: flex;
    flex-direction: row;
}

.firstFooter {
    width: 68px;
    margin-bottom: 5px;
}

.start {
    font-size: 12px;
    line-height: 16px;
    text-align: start;
    letter-spacing: normal;
    color: #565959;
}


.end {
    display: flex;
    font-size: 12px;
    line-height: 16px;
    text-align: start;
    letter-spacing: normal;
    color: #0f1111;
    padding: 2px;
}

.firstFooter1 {
    width: 68px;
    padding-right: 26.5px;
}



.returns {
    display: flex;
    font-size: 14px;
    line-height: 16px;
    text-align: start;
    letter-spacing: normal;
    color: #007185;
    padding: 1px;
    margin-bottom: 10px;

  &:hover{
    color: #c7511f;
  }
}

.productFooter {
    margin-top: 300px;
}

.leftColumn {
    display: flex;
    align-items: start;
    gap: 10px;
    max-height: 500px;

    &:hover {
        border-color: #08c6de;
    }

    /* border: solid 3px red; */
}

.imageCarousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    max-height: 500px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    /* border: solid 3px red; */

    /* &::-webkit-scrollbar {
        display: none;
    } */

    &:hover {
        border-color: #08c6de;
    }
}

.photo-radio {
    display: none;
    border: solid 2px lightgray;
    &:hover {
        border-color: #08c6de;
    }
}

.photo {
    width: 70px;
    height: 70px;
    padding: 10px;
    margin-top: 10px;
    object-fit: scale-down;
    border-radius: 8px;
    border: solid 2px lightgray;

    &:hover {
        border-color: #08c6de;
        cursor: pointer;
    }    
}


#customerReviewsH1 {
    text-align: center;
    border: 3px solid transparent;
    /* border-image: linear-gradient(45deg, #FFA500, #FF4500) 1; */
    margin-top: 100px;
    padding: 10px;
    /* background-color: rgba(255, 165, 0, 0.1); Optional: light background color to make the border stand out */
}

#reviewAmountH1 {
    font-size: 16px;
    padding-left: 15px;
}
