/* ProductIndexPage.css */

.productsIndexPage {
  position: relative;
  z-index: 1;
  padding: 20px;
  margin-top: 90px;
  padding-left: 100px;
  padding-right: 100px;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-card {
  width: calc(20% - 10px);
  margin: 1px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  overflow: hidden;
  position: relative; /* Add position relative */
  box-sizing: border-box;
}

.card-content {
  padding: 15px;
  background-color: #fff; /* White background around the container */
  /* border: solid 3px red; */
}

.productImage {
  object-fit: cover;
  width: 100%;
  height: auto; /* Adjust the height as needed */
  display: block;
  object-fit: scale-down;
  margin: 0 auto; /* Center the image horizontally */
}

.productName {
  font-size: 14px !important;
  line-height: 20px;
  text-align: left;
  letter-spacing: normal;
  color: #007185;
  /* margin-top: 10px; */
  &:hover{
    color: #c7511f;
    text-decoration: underline;
  }
}
.productReview {
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  letter-spacing: normal;
  color: Gold;
  /* margin-top: 8px; */
}

.productPrice {
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  letter-spacing: normal;
  color: #b12704;
  /* margin-top: 8px; */
}
