.searchBar {
  position: relative;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  padding-right: 10px;
  padding-left: 10px;
  z-index: 20;
}


.inputSearch {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
  margin-top: 15px;
  border-radius: 4px 0 0 4px;
}

.searchIcon {
  padding: 5px;
  height: 22px;
  background-color: #febd69;
  border-radius: 0 4px 4px 0;
}


.searchDropdown {
  position: absolute;
  top: 73%; 
  left: 10px; 
  width: calc(100% - 54px); 
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  max-height: 200px;
  overflow-y: auto;
  z-index: 19;
}


.searchProductResult {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 15px;
  z-index: 16;
}

.searchProductResult:hover {
  background-color: #f0f0f0;
}
