.banner-container {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.bannerimg {
    width: 100%;
    margin: auto;
    height: 350px;
}

.banner-carousel {
    position: relative;
    max-width: 100%;
}

.carousel-banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.carousel-banner.active {
    opacity: 1;
    animation: slide 10s linear infinite;
}

@keyframes slide {
    0% {
        left: 0;
    }

    25% {
        left: 0;
    }

    50% {
        left: -100%;
    }

    75% {
        left: -100%;
    }

    100% {
        left: 0;
    }
}

#prev-button,
#next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 100px;
    color: #333;
    transition: color 0.3s;
}

#prev-button:hover,
#next-button:hover {
    color: #666;
}

#prev-button {
    margin-left: -1300px;
    cursor: pointer;
}

#next-button {
    margin-left: 48px;
    cursor: pointer;
}

.dots-container {
  position: absolute;
  margin-top: 200px;
  margin-left: -600px;
  transform: translateX(-50%);
  display: flex;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 5px;
  cursor: pointer;
}

.dot.active {
  background-color: #333;
}