.header {
  display: flex;
  flex-direction: column;
  position: sticky;
}

.headerRow1 {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131921;
  top: 0;
  z-index: 2;
  padding: 0;
}

.headerRow2 {
  height: 41.5px;
  display: flex;
  align-items: center;
  background-color: #232f3e;
  top: 0;
  z-index: 1;
  padding: 0;
  justify-content: space-evenly;
}

.logo {
  object-fit: scale-down;
  width: 150px;
  height: 55px;
  padding-right: 10px;
  padding-left: 10px;
  margin-left: 5px;
  border: 1px solid transparent;
}

.logo:hover {
  border: 1px solid white;
}


.optionLineOne {
  font-size: 12px;
  line-height: 14px;
  text-align: start;
  letter-spacing: normal;
}

.optionLineTwo {
  font-size: 14px;
  text-align: start;
  line-height: 12px;
  letter-spacing: normal;
  font-weight: 800;
}

.optionIcon {
  display: flex;
  align-items: center;
  color: white;
  padding-right: 10px;
  padding-left: 10px;
  color: white;
  border: 1px solid transparent;
}

.cartCount {
  margin-left: 10px;
  margin-right: 10px;
  
}

.nav {
  display: flex;
  justify-content: space-evenly;
  padding-right: 10px;
  padding-left: 10px;
}

.option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  border: 1px solid transparent;
  padding: 8px;
}

.option:hover {
  border: 1px solid white;
}

.optionCategory {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  border: 1px solid transparent;
  padding: 10px;
}

.optionCategory:hover {
  border: 1px solid white;
}

.icon {
  padding: 5px;
  height: 40px;
}

.optionIcon:hover {
  border: 1px solid white;
}

.account-dropDown {
position: relative;
display: inline-block;
}

/* Styles for the dropdown content */
.dropdown-content {
display: none;
position: absolute;
top: 100%;
left: -100px;
background-color: #fff;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
border-radius: 5px;
padding: 10px;
z-index: 100;
width: 300px;
}

/* Show the dropdown content on hover */
.account-dropDown:hover .dropdown-content {
display: block;
}

/* Additional styling for the links in the dropdown */
.dropdown-content a {
display: block;
color: #333;
text-decoration: none;
padding: 8px 0;
}

/* Modify the label to make "Start here" look like a link */
.new-customer-label {
margin-top: 10px;
display: flex;
align-items: center;
font-size: 12px;
justify-content: center;
}

.new-customer-label a {
color: #0055aa;
text-decoration: none;
margin-left: 5px; /* Adjust the margin as needed */
}

.new-customer-label a:hover {
text-decoration: underline;
color: #e47911;
}

.categories {
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding: 100px;
}
